@charset 'utf-8';
@import url('common.css');


.zoopage{
    margin-top: 30px;
    text-align: center;
}

.portfolio{
    margin-top: 20px;
    margin-left: 20px;
}    
@media (min-width:1921px) and (max-width:2800px){
    .menu a{margin-right:45px;}
    .menu img{
        width:200%;
        margin-top: 20px;
    }
    .menu2{
        background: white;
        height: 300px;
        width:300px
    }

    .menu2 a{
        font-size: 1.5em;
    }
    .portfolio img{
        width:350px;
        margin-left: 30px;
        margin-top: 9px;
    }
}

@media (orientation:landscape){
    .zoopage img{width:100%;}
}

@media (min-width:1025px) and (max-width:1900px){

}
@media (min-width:768px) and (max-width:1024px){
    .zoopage img{width:100%}
}